src/*.o

src/BUILTIN/*.o

src/FORK/*.o

src/LINKED_LIST/*.o

src/PIPE/*.o

src/REDIRECTION/*.o

src/OPERATORS/*.o

lib/*.o

my_printf/my/*.o

my_printf/my/libmy.a

42sh

notes

.idea

test

.vscode

txt

save/history

save/alias

vgcore.*

tester

data

message.txt

PSU_42sh_2018

tester42sh

42shtester

src/ALIAS/*.o

envi

src/HISTORY/*.o

src/PARENTHESIS/*.o

src/REPEAT/*.o

src/WHERE/*.o

src/WHICH/*.o

src/LOCAL_VAR/*.o